/* Lazy Load Styles */

.card-image {
    display: block;
    min-height: 20rem; /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
    display: block;
    width: 100%;
    opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none; /* remove the blur on fullres image */
    transition: filter 1s;
}

.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}

.card-description > h2 {
    margin: 0 0 0.5em;
}

.card-description > p {
    margin: 0;
}

a img{
    border:none;
}

article img{
    width:100%;
}

#slides article{
    width:20%;
    float:left;
}

input{
    display:none;
}

#slide1:checked ~ #slides .inner{
    margin-left:0;
}
#slide2:checked ~ #slides .inner{
    margin-left:-100%;
}
#slide3:checked ~ #slides .inner{
    margin-left:-200%;
}
#slide4:checked ~ #slides .inner{
    margin-left:-300%;
}
#slide5:checked ~ #slides .inner{
    margin-left:-400%;
}
#container{
    width:100%;
    overflow:hidden;
}

#slides .inner{
    width:500%;
    line-height:0;
}

#commands{
    margin:-25% 0 0 0;
    width:100%;
    height:50px;
}
#commands label{
    display:none;
    width:80px;
    height:80px;
    opacity:0.5;
}
#commands label:hover{
    opacity:0.8;
}
#active{
    position:relative;
    z-index:5;
    margin:16% 0 0;
    text-align:center;
}
#active label{
    border-radius:5px;
    display:inline-block;
    width:10px;
    height:10px;
    background:#bbb;
}

bar a{
    color: #0b1e2e;
}

bar a:hover{
    text-decoration: none;
}


#active label:hover{background:#333;border-color:#777!important}
#slide1:checked ~ #commands label:nth-child(2),#slide2:checked ~ #commands label:nth-child(3),#slide3:checked ~ #commands label:nth-child(4),#slide4:checked ~ #commands label:nth-child(5),#slide5:checked ~ #commands label:nth-child(1){background:url('https://0.s3.envato.com/files/84450220/img/next.png') no-repeat;float:right;margin:0 12px 0 0;display:block}
#slide1:checked ~ #commands label:nth-child(5),#slide2:checked ~ #commands label:nth-child(1),#slide3:checked ~ #commands label:nth-child(2),#slide4:checked ~ #commands label:nth-child(3),#slide5:checked ~ #commands label:nth-child(4){background:url('https://0.s3.envato.com/files/84450220/img/previous.png') no-repeat;float:left;margin:0 0 0 -6px;display:block}
#slide1:checked ~ #active label:nth-child(1),#slide2:checked ~ #active label:nth-child(2),#slide3:checked ~ #active label:nth-child(3),#slide4:checked ~ #active label:nth-child(4),#slide5:checked ~ #active label:nth-child(5){background:#000;opacity:0.6;border-color:#fff!important;border:2px solid #fff}
.caption{line-height:20px;margin:0 0 -150%;position:absolute;padding:45% 10px;opacity:0;color:#fa2356;text-transform:none;font-family:'Open Sans',Arial,Helvetica,sans-serif;text-align:left;font-size:18px}
.caption bar{display:inline-block;padding:10px;background:#fff;opacity: 0.7;}
#slides{position:relative;}
#slider{transition:all 0.5s ease-out; margin:0 auto; text-align:center;}
#commands label{-webkit-transform:translateZ(0);-webkit-transition:opacity 0.2s ease-out;-moz-transition:opacity 0.2s ease-out;-o-transition:opacity 0.2s ease-out;transition:opacity 0.2s ease-out}
#slide1:checked ~ #slides article:nth-child(1) .caption,#slide2:checked ~ #slides article:nth-child(2) .caption,#slide3:checked ~ #slides article:nth-child(3) .caption,#slide4:checked ~ #slides article:nth-child(4) .caption,#slide5:checked ~ #slides article:nth-child(5) .caption{opacity:1;-webkit-transition:all 1s ease-out 0.6s;-moz-transition:all 1s ease-out 0.6s;-o-transition:all 1s ease-out 0.6s;transition:all 1s ease-out 0.6s}
#commands,#commands label,#slides,#active,#active label{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
#slider{max-width:800px}

@media (max-width:800px){
    #slider #commands{margin:-28% 0 0 1%;width:100%;height:70px}
    #slider #active{margin:12% 0 0}
    #slider #slides{padding:2px 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
    #slider #slides .caption{opacity:0!important}
    #slider #commands label{-moz-transform:scale(0.7);-webkit-transform:scale(0.7);-o-transform:scale(0.7);-ms-transform:scale(0.7);transform:scale(0.7)}
    
    
}
